Repository engeir/ncdump-rich: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-toml, check-yaml

ruff_format:
  name: ruff_format
  stages:
  - commit
  language: system
  entry: poetry run ruff format src tests docs

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix src tests docs

xdoctest:
  name: xdoctest
  stages:
  - commit
  language: system
  entry: poetry run xdoctest

pydocstringformatter:
  name: pydocstringformatter
  stages:
  - commit
  language: system
  entry: poetry run pydocstringformatter src tests docs

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  require_serial: true

pydoclint:
  name: pydoclint
  stages:
  - commit
  language: system
  entry: poetry run pydoclint src tests docs
  require_serial: true

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest tests
  pass_filenames: false

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Update latest-screengrab.yml
  .github/workflows/latest-screengrab.yml
Due: check-yaml

docs(CHANGELOG): use git-cliff to generate changelog
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

docs(CHANGELOG): use git-cliff to generate changelog (#375)
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

chore(github): move git-cliff action to its own job
  .github/workflows/release.yml
Due: check-yaml

fix(github): upload git-cliff changelog
  .github/workflows/release.yml
Due: check-yaml

chore(CHANGELOG): add committer info
  pyproject.toml
Due: check-toml

style(CHANGELOG): improve formatting of committer info
  pyproject.toml
Due: check-toml

build(system): change to use Rye over Poetry
  .github/workflows/constraints.txt
  .github/workflows/latest-screengrab.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .rtx.toml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/ncdump_rich/__init__.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-toml, check-yaml

fix(ci): add rye path to Nox run and remove windows tests
  .github/workflows/tests.yml
Due: check-yaml

ci(github): small fix
  .github/workflows/tests.yml
  noxfile.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-yaml

ci(github): small fix
  noxfile.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest

fix(pre-commit): run apps stand-alone, not via rye
  .pre-commit-config.yaml
  noxfile.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-yaml

ci(github): update rich-codex YML config
  .github/rich-codex.yml
Due: check-yaml

ci(github): update rich-codex setttings
  .github/rich-codex.yml
  .github/workflows/latest-screengrab.yml
Due: check-yaml

ci(github): update rich-codex
  .github/rich-codex.yml
Due: check-yaml

ci(github): update rich-codex yml
  .github/rich-codex.yml
Due: check-yaml

build(system): change to use Rye over Poetry (#388)
  .github/rich-codex.yml
  .github/workflows/constraints.txt
  .github/workflows/latest-screengrab.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .rtx.toml
  demo/latest.png
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/ncdump_rich/__init__.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-toml, check-yaml

fix(build): release fails at version command
  .github/rich-codex.yml
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

ci: smalle fix
  .github/rich-codex.yml
  .github/workflows/release.yml
Due: check-yaml

fix(build): release fails at version command (#389)
  .github/rich-codex.yml
  .github/workflows/release.yml
  demo/latest.png
  pyproject.toml
Due: check-toml, check-yaml

fix(ci): rye version and poetry version print different stuff
  .github/workflows/release.yml
Due: check-yaml

chore(deps): bump version
  pyproject.toml
Due: check-toml

fix(github): release workflow, rye version and poetry version differs (#390)
  .github/workflows/release.yml
  pyproject.toml
Due: check-toml, check-yaml

fix(ci): remove awk command in version parse
  .github/workflows/release.yml
Due: check-yaml

docs: update metadata
  README.rst
  pyproject.toml
  requirements-dev.lock
Due: check-toml

docs: update metadata (#395)
  README.rst
  pyproject.toml
  requirements-dev.lock
Due: check-toml

build(mise): set up optional mise dev environment
  .gitignore
  .mise.development.toml
  CONTRIBUTING.rst
  pyproject.toml
Due: check-toml

deploy
  example.nc
  latest.png
  lf-demo.png
  nnn-demo.png
Due: none

Fix display of non-indexable attribute values, minor ruff fixes
  src/ncdump_rich/ncdump.py
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest

build(uv): swap to uv over old rye
  .github/rich-codex.yml
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/latest-screengrab.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .mise.development.toml
  .pre-commit-config.yaml
  docs/conf.py
  noxfile.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/ncdump_rich/__main__.py
  tests/test_main.py
  uv.lock
Due: ruff_format, ruff, xdoctest, pydocstringformatter, mypy, pydoclint, pytest, check-toml, check-yaml

ci(fix): old versions make CI auto fail
  .github/workflows/pinact.yml
  .github/workflows/tests.yml
Due: check-yaml

ci(bot): update PAT
  .github/workflows/pinact.yml
Due: check-yaml

ci: update PAT
  .github/workflows/pinact.yml
Due: check-yaml

ci(pinact): use version pinact understand
  .github/workflows/latest-screengrab.yml
Due: check-yaml

chore(pinact): pin GitHub Actions
  .github/workflows/latest-screengrab.yml
Due: check-yaml

revert
  .github/workflows/pinact.yml
Due: check-yaml

ci(pinact): update versions
  .github/workflows/labeler.yml
  .github/workflows/pinact.yml
  .github/workflows/release.yml
Due: check-yaml

ci(fix): bump python versions in CI
  .github/workflows/tests.yml
Due: check-yaml

Path conditions:
  ruff_format: any of: \.py$
  ruff: any of: \.py$
  xdoctest: any of: \.py$
  pydocstringformatter: any of: \.py$
  mypy: any of: \.py$
  pydoclint: any of: \.py$
  pytest: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
